{% extends "base.html" %}
{% load static %} 

{% block content %}
    <div class="s004">
      <div class="user-loginout">
        <h1>로그인</h1>
        <form method="post" action="{% url 'homeapp:login' %}" class="login">
            {% csrf_token %}
            {% include 'homeapp/form_errors.html' %}
            <div>
              <label>아이디</label>
              <br/>
              <input type="text" name="username" id="username" placeholder="아이디를 입력해 주세요" />
            </div>
            <div>
              <label>비밀번호</label>
              <br />
              <input type="password" name="password" id="password" placeholder="비밀번호를 입력해 주세요">
            </div>
            <button type="submit" id="check-loginout">로그인</button>
        </form>
        <span class="login-addons">
              아직 계정이 없으신가요?
            <button type="button">
                <a href="{% url 'homeapp:signup' %}">회원가입</a>
            </button>
        </span>     
      </div>
    </div>
    <div class="suggestion">
        <button type="button">
          <a href="{% url 'homeapp:home' %}">home</a>
        </button>
        |
        <button type="button">
          <a href="{% url 'homeapp:signup' %}">sign up</a>
        </button>
    </div>
{%endblock content%}