{% load static %}
<!-- partial:./partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Navigation</p>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="index.html">
            <i class="mdi mdi-view-quilt menu-icon"></i>
            <span class="menu-title">Dashboard</span>
            <div class="badge badge-info badge-pill">2</div>
            </a>
        </li>

        <li class="nav-item sidebar-category">
            <p>Components</p>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">상품비교분석</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">분석보고서</span>
            </a>
        </li>

        <li class="nav-item sidebar-category">
            <p>User</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <i class="mdi mdi-account menu-icon"></i>
            <span class="menu-title">마이페이지</span>
            <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> 1 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> 2 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> 3 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> 4 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> 5 </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item sidebar-category">
            <p>web</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="docs/documentation.html">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">문의게시판</span>
            </a>
        </li>
    </ul>
</nav>