{% load static %}
<!-- row end -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">구매링크</h4>
                        <div class="table-responsive">
                            <table class="table table-striped">                   
                                <tbody>
                                {% comment %} {% if item3 %}
                                    {% for data2 in item3 %}
                                    <tr>
                                        <td><img src="{% static 'images/11번가.png'%}" alt="image" class='profile' id='buy_logo' /></td>
                                        <td>{{data2.buy_coin}}원</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>리뷰가 없습니다.</td>
                                    </tr>
                                </tbody>
                                {% endif %} {% endcomment %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>