<!DOCTYPE html>
<html lang="ko">
{% load static %}
{% include 'analysisapp/analysis_head.html' %}
  <body>
    <div class="container-scroller d-flex">
      {% include 'analysisapp/analysis_nav.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        {% include 'analysisapp/analysis_nav1.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="row w-100 flex-grow">
                  <div class="col-md-12 grid-margin stretch-card">                  
                    <div class="card">                   
                      <div class="card-body">
                         {% comment %} <b>{{list.search_name}}</b> 전체리뷰({{list.article_review_cnt}})건 중 진솔한 순수리뷰 ({{list.article_pure_review_cnt}})건을 선별하였습니다.  {% endcomment %}
                      </div>
                    </div> 
                  </div>
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-title">리뷰요약</p>
                        {% comment %} <h3>{{ item.content_summary }}</h3> {% endcomment %}
                      </div>
                    </div> 
                  </div>
                  <div class="col-md-6 stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                          <p class="card-title">연관어분석</p>                     
                        </div>                      
                        {% comment %} <img src="{% get_static_prefix %}images/analysis/y{{item2}}.png" alt="image"/> {% endcomment %}
                    </div>
                  </div>
                  <div class="col-md-6 stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                          <p class="card-title">감성어 분석</p>
                        </div>
                         {% comment %} <img src="{% get_static_prefix %}images/analysis/k{{item2}}.png" alt="image"/>  {% endcomment %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">순수리뷰 </h4>
                      <div class="table-responsive">
                        <table class="table table-striped">                      
                          <tbody>
                            {% if row %}
                              {% for data in row %}
                            <tr>
                              <td rowspan="2"><img src="{% static 'images/analysis/k1.png'%}" alt="image" id="review_img"/></td>
                              <td>{{ data.review_link }}</td>
                            </tr>
                            <tr>
                              <td>{{ data.content }} {{data.aricle_code}}</td>
                            </tr>
                              {% endfor %}
                            {% else %}
                              <tr>
                                <td>리뷰가 없습니다.</td>
                              </tr>
                          </tbody>
                            {% endif %}
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% comment %} {% include 'analysisapp/buy_link.html' %}  {% endcomment %}
          <!-- row end -->
        </div>
        {% include 'analysisapp/analysis_fotter.html' %}
      </div>
    </div>
    {% include 'analysisapp/analysis_nav_fotter.html' %}
  </body>
</html>