* {
    box-sizing: border-box;
}

legend {
    font-weight: bold;
    font-size: 2em;
    margin: 0.67em 0;
}

.s004 {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    background: url("../images/대문배경.png");
    background-size: cover;
    background-position: center center;
    padding-left: 128px;
}

.s004 form {
    max-width: 50%;
}

.suggestion {
    padding: 0 15px;
}

.suggestion span {
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    display: inline-block;
    padding: 0 15px;
    line-height: 32px;
    color: #fff;
    border-radius: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.suggestion {
    position: absolute;
    top: 20;
    right: 20;
    /* color: #fff; */
}

.suggestion button {
    font-size: 20px;
}

.suggestion button a {
    text-decoration-line: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    outline: 0;
    text-decoration-line: none;
}

button:hover {
    cursor: pointer;
    font-weight: bold;
}

.input-field {
    height: 3em;
    position: relative;
    border: none;
    border-radius: 48px;
    width: 110%;
    background-color: #fff;
}

#text-values,
.btn-search {
    position: absolute;
    height: 100%;
}

#text-values {
    width: 90%;
    height: 100%;
    left: 1em;
}

.btn-search {
    right: 1em;
}

.form-control {
    border: none;
    background-color: transparent;
}

fieldset {
    border: none;
}

.user-loginout {
    margin: 10%;
    width: 20em;
}

.user-loginout h1 {
    text-align: center;
}

.user-loginout label {
    color: #03B59D;
    font-weight: bold;
    padding-bottom: 1em;
}

.user-loginout input {
    background-color: #fff;
    border: none;
    outline: 0;
    text-decoration-line: none;
    border-radius: 6px;
    width: 200%;
    height: 3em;
    margin-bottom: 1em;
}

#check-loginout {
    width: 200%;
    height: 3em;
    background-color: #1CEED1;
    color: #fff;
    font-weight: bold;
}

.login-addons button {
    text-align: center;
}